body {
  background-color: rgb(220, 172, 139);
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: cardAnimation 1s ease-in-out;
}

@keyframes cardAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

h1 {
  color: #f45921;
  font-size: 32px;
  opacity: 1;
}

.poll {
  margin-top: 20px;
}

h2 {
  color: #f45921;
  font-size: 24px;
  margin-bottom: 20px;
}

.listOfOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  margin-bottom: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  background-color: #f3f3f3;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option {
  color: #000000;
}

.option:hover {
  color: #cb3a05;
  background-color: #ffffff;
}

.option input[type="radio"]:checked + label {
  background-color: #cb3a05;
  color: #ffffff;
}

button {
  background-color: #cb3a05;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d15b30;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  color: #cb3a05;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-result {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.option-text {
  flex: 1;
}

.bar-container {
  flex: 3;
  background-color: #f3f3f3;
  height: 10px;
  margin-left: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.bar {
  height: 100%;
  background-color: #cb3a05;
  width: 0;
  transition: width 0.5 ease-in-out;
}

.percentage {
  font-weight: bold;
  flex: 1;
  margin-left: 10px;
  color: #cb3a05;
}
